<template lang="html">
    <div class="container">
    <h2 class="font-mono text-black text-6xl">Bosses</h2>
        <div class="row">
            <div class="col text-left">
                <div v-if="bosses" class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
                    <div v-for="boss in sortBosses()" :key="sortBosses().id" class="boss pb-6">
                        <bossCard :boss="boss"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import bossCard from '@/components/Bosses/bossCard'
export default {
    components: {
        bossCard,
    },
    data() {
        return {
            bosses: [],
        }
    },
    props: [
       "userdata"
    ],
    created(){

        axios.get('/api/boss')
            .then(response=> {
                this.bosses = response.data
            }).catch(e => {
                console.log(e);
            })
    },
      methods:{
        sortBosses(){
            function compare( a, b ) {
                if ( a.game < b.game ){
                    return -1
                }
                if ( a.game > b.game ){
                    return 1
                }
                return 0
                }
            return this.bosses.sort( compare )
        },
    },

}
</script>

<style lang="css" scoped>
table {
  border: 1px solid;
}
</style>