<template>
  <div class="relative">
    <!-- Dropdown toggle button -->
    <button @click="show = !show" class="flex items-center text-indigo-100 hover:text-indigo-300 rounded-md focus:outline-none">
      <span class="mr-4">Games</span>
      <fa :icon="['fas','caret-down']"/>
    </button>

    <!-- Dropdown menu -->
    <div v-show="show" v-if="games.length" class="py-2 mt-2 bg-black rounded-md shadow-xl lg:absolute lg:right-0 w-44">
      <div v-for="game in games" :key="game.id" class="game">
        <router-link  :to="{ name: 'Games', params: { gameId: JSON.stringify(game.id)} }" class=" block px-4 py-2 text-sm text-blue-100 hover:bg-blue-400" >
        {{game.name}}
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import { ref } from 'vue';
  export default {
    name: 'gamesDropdown',
    setup() {
      let showMenu = ref(false);
      let show = ref(false);
      const toggleNav = () => (showMenu.value = !showMenu.value);
      return { showMenu, show, toggleNav };
    },
      data() {
        return {
            games: []
        }
    },
    created() {
      axios.get('/api/game')
      .then(response=> {
          this.games = response.data
      }).catch(e => {
          console.log(e);
      })
    },

    
  };
</script>