<template>
  <div class="relative">
    <!-- Dropdown toggle button -->
    <button @click="show = !show" class="flex items-center text-indigo-100 hover:text-indigo-300 rounded-md focus:outline-none">
      <span class="mr-4">Manga</span>
      <fa :icon="['fas','caret-down']"/>
    </button>

    <!-- Dropdown menu -->
    <div v-show="show" v-if="mangas.length" class="py-2 mt-2 bg-black rounded-md shadow-xl lg:absolute lg:right-0 w-44">
      <div v-for="manga in mangas" :key="manga.id" class="manga">
        <router-link  :to="{ name: 'Manga', params: { mangaId: JSON.stringify(manga.id)} }" class=" block px-4 py-2 text-sm text-blue-100 hover:bg-blue-400" >
        {{manga.name}}
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import { ref } from 'vue';
  export default {
    name: 'mangasDropdown',
    setup() {
      let showMenu = ref(false);
      let show = ref(false);
      const toggleNav = () => (showMenu.value = !showMenu.value);
      return { showMenu, show, toggleNav };
    },
      data() {
        return {
            mangas: []
        }
    },
    created() {
        axios.get('/api/manga')
        .then(response=> {
            this.mangas = response.data
        }).catch(e => {
            console.log(e);
        })
    },
    
  };
</script>