<template lang="html">
  <footer class="bg-gray-800">
    <div class="py-6 px-4 bg-gray-700 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-300 sm:text-center">© 2022 <a class="hover:text-white" href="https://www.linkedin.com/in/daniel-delgado-rodr%C3%ADguez-253204221/">Daniel Delgado Rodríguez</a>. All Rights Reserved.
      </span>
      <div class="flex mt-4 text-gray-400 text-2xl space-x-9 sm:justify-center md:mt-0">
        <a href="https://www.linkedin.com/in/daniel-delgado-rodr%C3%ADguez-253204221/" class="hover:text-white">
          <fa :icon="['fab','linkedin-in']"/>
        </a>
        <a href="https://gitlab.com/Dani-Delgado/personasoulscompendium" class="hover:text-white">
          <fa :icon="['fab','gitlab']"/>
        </a>
        <a href="https://twitter.com/" class="hover:text-white">
          <fa :icon="['fab','twitter']"/>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="hover:text-white">
          <fa :icon="['fab','instagram']"/>
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'baseFooter'
}
</script>

<style lang="css" scoped>
</style>