<template lang="html">
   <nav class="flex items-center justify-between flex-wrap bg-blue-800 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
  <router-link to="/">
    <img src="../assets/p5-logo.png" class="h-20" alt="..." />
  </router-link>
  
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-red-200 border-blue-400 hover:text-white hover:border-white">
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
    <router-link to="/games">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-5">
        Games
      </a>
      </router-link>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-5">
        Anime
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-5">
        Manga
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-5">
        Gatcha
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-5">
        FIGHT!
      </a>
    </div>
    <div>
     <span v-if="user_data" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white" :src="user_data">{{user_data}}
     
     </span>
      <span v-else>
      <router-link to="/login" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white">Login</router-link>
      <router-link to="/sign-up" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white">Sign up</router-link>
      </span>
    </div>
  </div>
  
</nav>
<gamesDropdown />
</template>

<script>
import axios from 'axios'
import gamesDropdown from './Dropdown/games-dropdown'

export default {
    name: 'baseHeader',
     components: {
    gamesDropdown,
     },
    data() {
        return {
            user_data: ''
        }
    },
    mounted() {
        this.getMe()
    },
    methods: {
        getMe(e){
            axios
                .get("/api/users/me")
                .then(response => {
                    console.log(response)
                    this.user_data = response.data.username
                })
                .catch(error => {
                    console.log(error)
                })
        }
    }



}

</script>

<style lang="css" scoped>
</style>