<template lang="html">
  <div class="grid grid-cols-12 md:grid-cols-8 min-h-screen">
    <div class="bg-transparent md:bg-sky-200"></div>
    <div class="col-span-10 md:col-span-6 py-5 px-5 md:py-10 md:px-10">
      <router-view/>
    </div>
    <div class="bg-transparent md:bg-sky-200"></div>
  </div>
</template>

<script>
export default {
  name: 'basePage',

}
</script>

<style lang="css" scoped>
</style>