<template>
  <div>
    <nav class="px-6 py-8 bg-velvetroom-400 lg:flex lg:justify-between lg:items-center">
      <div class="flex items-center justify-between">
        <router-link to="/">
          <img src="../assets/p5-logo.png" class="h-20" alt="..." />
        </router-link>
        <!-- Mobile menu button -->
        <div @click="toggleNav" class="flex lg:hidden">
          <button type="button" class="text-gray-100 hover:text-gray-400 focus:outline-none focus:text-gray-400">
            <fa :icon="['fas','bars']" class="text-4xl"/>
          </button>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <ul :class="showMenu ? 'flex' : 'hidden'" class="flex-col mt-8 space-y-4 lg:flex lg:space-y-0 lg:flex-row lg:items-center lg:space-x-10 lg:mt-0 mr-[15%]">
        <li>
          <gamesDropdown />
        </li>
        <li>
          <animeDropdown />
        </li>
        <li>
          <mangaDropdown />
        </li>
        <li>
          <router-link to="/character" class="text-indigo-100 hover:text-indigo-300">
            Character List
          </router-link>
        </li>
        <li>
          <router-link to="/bosses" class="text-indigo-100 hover:text-indigo-300">
            Bosses List
          </router-link>
        </li>
        <li>
          <router-link to="/gatcha" class="text-indigo-100 hover:text-indigo-300">
            Gatcha
          </router-link>
        </li>
        <li>
          <router-link to="/fight" class="text-indigo-100 hover:text-indigo-300">
            FIGHT!
          </router-link>
        </li>
        </ul>
        <ul>
          <span v-if="profile" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white">
            <li  class="text-indigo-100">
              <router-link to="/usercharacters">
                Username: {{userdata.username}}
            </router-link>
            </li>
            <li  class="text-indigo-100 ">
            Card Shards: {{profile.cardShards}}
            </li>
            <li>
              <a href="http://localhost:8888/admin/">
            <button  class="bg-green-700 hover:bg-green-600 text-white font-bold py-1 px-3 rounded-md">Admin</button>
            </a>
            <button @click="logout()"   class="bg-red-500 hover:bg-red-400 text-white font-bold py-1 px-3 rounded-md ml-2">Logout</button>
            </li>
          </span>
          <span v-else>
            <li>
              <button class="bg-green-700 hover:bg-green-600 text-white font-bold py-1 px-5 rounded-md mb-2">
                <router-link to="/login" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white">Login</router-link>
              </button>
            </li>
            <li>
              <button class="bg-green-700 hover:bg-green-600 text-white font-bold py-1 px-3 rounded-md">
                <router-link to="/sign-up">Sign up</router-link>
              </button>
            </li>
          </span>
      </ul>
    </nav>
  </div>
</template>
<script>
import axios from 'axios'
import gamesDropdown from './Dropdown/games-dropdown'
import mangaDropdown from './Dropdown/manga-dropdown'
import animeDropdown from './Dropdown/anime-dropdown'
import { ref } from 'vue';
  export default {
    name: 'baseHeader',
      components: {
        gamesDropdown,
        mangaDropdown,
        animeDropdown,
     },
     data() {
        return {
            profile: '',
            userdata:'',
        }
    },
     created(){
         if(localStorage.getItem("access")){
    axios
            .get("/api/users/me")
            .then(response => {
                this.userdata = response.data
                      axios.get(`/api/profile/${this.userdata.id}`)
                .then(response=> {
                    this.profile = response.data
                }).catch(e => {
                    console.log(e);
                })
  
            })
            .catch(error => {
                console.log(error)
            })
         }
     },
    setup() {
      let showMenu = ref(false);
      let show = ref(false);
      const toggleNav = () => (showMenu.value = !showMenu.value);
      return { showMenu, show, toggleNav };
    },
    methods: {
      logout() {
      this.profile=''
      this.userdata=''
      this.$router.push({name: 'Logout'});
    },
    },

  };
</script>