<template lang="html" >
  <div class="flip">
    <div class="flip-content">
      <div class="flip-front">
        <div class="bg-gray-300 border-4 border-gray-900 w-72 h-[400px]">
          <div class="relative z-10 bg-gray-700 text-4xl text-white font-mono text-center h-[50px] border-b-4 border-gray-900">
              {{boss.game}}
          </div>
          <div class="relative z-5 bg-gray-500 h-[265px]">
            
                <img v-if="boss.bossImage" :src="require(`@/assets/${ getImgUrl(boss.bossImage) }`)" class="m-auto z-0 h-full">
          </div>
          <div class="relative z-10 bg-gray-700 text-3xl text-white font-mono text-center h-[77px] border-t-4 border-gray-900 pt-4">
            <p>
                {{boss.name}}
            </p>
          </div>
        </div>
      </div>
      <div class="flip-back">
        <div class="bg-gray  w-72 h-[400px] rotate-180">
          <img :src="require(`@/assets/media/gatcha/card-back.png`)">
        </div>
      </div>
    </div>
  </div>
    
</template>

<script>
export default {
    props: [
        "boss"
    ],
      methods: {
        getImgUrl(img){
            if(img){
                const url = img;   
                return url.toString().slice(22,100)
            }
            
        }
    }

}
</script>

<style lang="css" scoped>
.flip {
  width: 150px;
  height: 400px;   
  perspective: 800px;  
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}
.flip-front, .flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;  
}
.flip-back {
  transform: rotateY(180deg);
}
</style>