<template lang="html">
    <div class="row">
        <div class="col text-left font-mono">
            <div class="grid grid-cols-1 xl:grid-cols-3 gap-10">
                <div class="md:col-span-2 text-xl">
                <h2 class="text-black text-6xl" >{{manga.name}}</h2>
                    <p>{{manga.synopsis}}</p>
                </div>
                <div>
                <table class="min-w-full table-auto">
                    <thead class="bg-gray-100 border-b ">
                        <tr>
                            <th colspan="2" class="px-24 py-5">
                                <img :src="`${manga.image}`" class="h-full">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b">
                        <td class="text-sm text-gray-900 font-light px-6 py-4">
                            Author:
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4">
                            {{manga.author}}
                        </td>
                        </tr>
                        <tr class="bg-white border-b">
                        <td class="text-sm text-gray-900 font-light px-6 py-4">
                        Volumes:
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4">
                            {{manga.volumes}}
                        </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            manga: [],
        }
    },
    beforeCreate() {

        axios.get(`/api/manga/${this.$route.params.mangaId}`)
            .then(response=> {
                this.manga = response.data
            }).catch(e => {
                console.log(e);
            })
    },
    watch: { 
        $route(to, from) { 
            if(to !== from){ 
                location.reload(); 
                } 
            } 
        }
    
}
</script>

<style lang="css" scoped>
table {
  border: 1px solid;
}
</style>