<template lang="html">

    <button @click="show = !show">
        <img :src="require(`@/assets/media/gatcha/banners/${bannerImage}`)" class="mx-auto w-4/5">
    </button>

    <div v-show="show" v-if="characters.length" >
        <div class="w-4/5 mx-auto bg-gray-300 p-5 border-2 border-black rounded-b-xl mt-[-0.6%] font-mono text-lg">
            <h1 class="text-3xl">Obtainable characters</h1>
            <div class="grid grid-cols-2 border-b-2 border-black">
                <div>
                    Character:
                </div>
                <div>
                    Persona:
                </div>
            </div>
            <div v-for="character in this.characters" :key="character.id" class="character grid grid-cols-2 ">
                <div v-if="character.game==bannerGame">
                    {{character.name}}
                </div>
                <div v-if="character.game==bannerGame">
                    {{character.persona}}
                </div>
            </div>
            <button @click='useGatcha()' :disabled="profile.cardShards < 100" class="disabled:bg-gray-900 bg-velvetroom-500 hover:bg-velvetroom-300 hover:bg-velvetroom-300 text-white font-bold py-2 px-4 rounded-md">
                Summon!
            </button>
        </div>         
    </div>

</template>

<script>
import axios from 'axios'
import { ref } from 'vue';
export default {
    data() {
        return {
            characters: [],
        }
    },
       props: [
       "bannerGame",
       "bannerImage",
       "profile",
       "party"
     ],
     setup() {
      let showMenu = ref(false);
      let show = ref(false);
      return { showMenu, show,  };
    },
    created(){
        this.getCharacters()
        
    },
    methods:{
        getCharacters(){
            axios.get('/api/character')
            .then(response=> {
                this.characters = response.data
            }).catch(e => {
                console.log(e);
            })
        },
     
        checkRepeatedCharacter(check){
            return this.party.filter(member => member.character == check.id).length
        },
        useGatcha(){
            const bannerCharcters =this.characters.filter(character => character.game == this.bannerGame);
            const summon = bannerCharcters[Math.floor(Math.random() * bannerCharcters.length)]
      
            if(this.checkRepeatedCharacter(summon)==0){
                axios.post('http://localhost:8888/api/party/', {profile:this.profile.id, character:summon.id})
                 axios.put(`http://localhost:8888/api/profile/${this.profile.id}/`, 
                {
                    id:this.profile.id, 
                    cardShards:this.profile.cardShards -100,
                    userImage: this.profile.userImage,
                    user:this.profile.user,
                })
                this.$router.push(`/summon/${summon.id}`)
               
            } else {
                axios.put(`http://localhost:8888/api/profile/${this.profile.id}/`,
                {
                    id:this.profile.id, 
                    cardShards:this.profile.cardShards -50,
                    userImage: this.profile.userImage,
                    user:this.profile.user,
                })
                   this.$router.push(`/summon/0`)
            }
        },
    },
    
}
</script>

<style lang="css" scoped>
</style>