<template lang="html">
    <h2 class="font-mono text-black text-6xl">Gatcha banners</h2>
    <h1 class="font-mono text-black text-2xl">Current Card Shards: {{profile.cardShards}}</h1>
    <h1 class="font-mono text-black text-2xl">Shards per summon: 100</h1>
    <div class="mb-8">
        <banner :profile="profile" :party="party" :bannerGame="'Persona 5'" :bannerImage="'Persona5-banner.png'" />
    </div>
    <div class="mb-8">
        <banner :profile="profile" :party="party" :bannerGame="'Persona 4'" :bannerImage="'Persona4-banner.png'"/>
    </div>
    <div class="mb-8">
        <banner :profile="profile" :party="party" :bannerGame="'Persona 3'" :bannerImage="'Persona3-banner.png'"/>
    </div>
    <div class="mb-8">
        <banner :profile="profile" :party="party" :bannerGame="'Sega'" :bannerImage="'Sega-banner.png'"/>
    </div>
</template>

<script>
import banner from '@/components/Banner/banner'
import axios from 'axios'
export default {
    name: 'Gatcha',
    components: {
        banner,
    },
    data() {
        return {
            profile: [],
            party: [],
        }
    },
    created(){
            axios
            .get("/api/users/me")
            .then(response => {
                const userdata = response.data
                      axios.get(`/api/profile/${userdata.id}`)
                .then(response=> {
                    this.profile = response.data
                }).catch(e => {
                    console.log(e);
                })
            axios.get(`/api/party/${userdata.id}`)
                .then(response=> {
                    this.party = response.data
                }).catch(e => {
                    console.log(e);
                })
            })
            .catch(error => {
                console.log(error)
            })
    }
}
</script>

<style lang="css" scoped>
</style>