<template>
    <div class="container">
        <h1 class="font-mono text-black text-6xl">Select your character</h1>
      <div class="row">
            <div class="col text-left">
                <div v-if="profile" class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
                    <div v-for="member in party" :key="party.id" class="character pb-6">
                     <button @click='this.$router.push(`/fight/${getCharacters(member.character).id}/${getRandomBoss()}`)'>
                        <card :character="getCharacters(member.character)"/>
                         </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import card from '@/components/Card/card'
export default {
    components: {
        card,
    },
    data() {
        return {
            profile: [],
            characters: [],
            party: [],
            bosses: [],
        }
    },
 
    created(){
        axios
            .get("/api/users/me")
            .then(response => {
                const userdata = response.data
                      axios.get(`/api/profile/${userdata.id}`)
                .then(response=> {
                    this.profile = response.data
                }).catch(e => {
                    console.log(e);
                })
            axios.get(`/api/party/${userdata.id}`)
                .then(response=> {
                    this.party = response.data
                }).catch(e => {
                    console.log(e);
                })
            })
            .catch(error => {
                console.log(error)
            })
        axios.get('/api/character')
            .then(response=> {
                this.characters = response.data
            }).catch(e => {
                console.log(e);
            })
        axios.get('/api/boss')
            .then(response=> {
                this.bosses = response.data
            }).catch(e => {
                console.log(e);
            })
  

    },
    methods:{
        getCharacters(id){
            return this.characters.filter(character=>character.id == id).pop()
        },
        getRandomBoss(){
              return this.bosses[Math.floor(Math.random() * this.bosses.length)].id
        }
    },

}
</script>

<style lang="css" scoped>
table {
  border: 1px solid;
}
</style>