<template>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <div class="grid grid-cols-1 h-full">
                <div class="min-h-[200px] pt-[50px]">
                    <p>{{bossLife}}/{{this.boss.hp}}</p>
                    <div class="bg-gray-500 h-[40px] w-full border-4 border-black">
                        <div class="lifebar bg-green-500 h-[100%]" :style="{ width: bossLifePercent + '%'}"></div>
                    </div>
                </div>
                <div class="min-h-[200px]">
                    <div v-if="this.characterLife<=0" class="text-7xl font-bold py-2 px-4 h-full w-full">
                    WINNER
                    </div>
                    <div v-else-if="this.bossLife<=0" class="text-7xl font-bold py-2 px-4 h-full w-full">
                    DEFEATED
                    </div>
                </div>
            </div>
        </div>
        <div>
            <bossCard :boss="boss"/>
        </div>
        <div>
            <card :character="character" class=" m-auto "/>
        </div>
        <div class="col-span-2">
            <div class="grid grid-cols-1 h-full ">
                <div class="min-h-[200px] pt-[50px]">
                    <p>{{characterLife}}/{{this.character.hp}}</p>
                    <div class="bg-gray-500 h-[40px] w-full border-4 border-black">
                        <div class="lifebar bg-green-500 h-[100%]" :style="{ width: characterLifePercent + '%'}"></div>
                    </div>
                </div>
                <div class="min-h-[200px]">
                    <div v-if="this.characterLife<=0" class="text-7xl font-bold py-2 px-4 h-full w-full">
                    DEFEATED
                    </div>
                    <div v-else-if="this.bossLife<=0">
                    <p class="text-7xl font-bold  h-full w-full">
                    WINNER
                    </p>
                    <p class="text-3xl font-bold ">
                    You win 100 card shards
                    </p>
                    <router-link to="/gatcha" class="bg-velvetroom-500 hover:bg-velvetroom-300 text-white font-bold py-2 px-4 rounded-md mr-5">
                        Go to gatcha
                    </router-link>
                    <router-link to="/fight" class="bg-velvetroom-500 hover:bg-velvetroom-300 text-white font-bold py-2 px-4 rounded-md">
                        Fight again 
                    </router-link>
                    </div>
                    <div v-else class="h-full">
                     <button @click="attack()" class="bg-red-800 hover:bg-red-600 text-white text-6xl font-bold py-2 px-4 rounded-md h-full w-full">Attack!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    
</template>



<script>
import axios from 'axios'
import card from '@/components/Card/card'
import bossCard from '@/components/Bosses/bossCard'
export default {
       components: {
            card,
            bossCard,
            
       },

       data() {
            return {
                character: [],
                boss: [],
                characterLife: '',
                characterLifePercent: 100,
                bossLife: '',
                bossLifePercent: 100,
                profile: [],
            }
        },
        created(){
            axios
            .get("/api/users/me")
            .then(response => {
                const userdata = response.data
                      axios.get(`/api/profile/${userdata.id}`)
                .then(response=> {
                    this.profile = response.data
                }).catch(e => {
                    console.log(e);
                })
            })
            .catch(error => {
                console.log(error)
            })
            
            if(this.$route.params.characterid!=0){

                axios.get(`/api/character/${this.$route.params.characterid}`)
                .then(response=> {
                    this.character = response.data
                }).catch(e => {
                    console.log(e);
                })
                    
            }
            if(this.$route.params.bossid!=0){

                axios.get(`/api/boss/${this.$route.params.bossid}`)
                .then(response=> {
                    this.boss = response.data
                }).catch(e => {
                    console.log(e);
                })
            }
       },
       methods: {
            attack() {
                if(this.character.speed > 100){
                    this.bossLife = this.bossLife-Math.round((this.character.attack - this.boss.defense/3))
                    this.bossLifePercent = Math.round(100*this.bossLife/this.boss.hp)
                }
                this.bossLife = this.bossLife-Math.round((this.character.attack - this.boss.defense/3))
                this.bossLifePercent = Math.round(100*this.bossLife/this.boss.hp)
                if(this.bossLife<=0){
                    this.bossLife = 0
                    this.bossLifePercent= 0
                    this.win()
                    
                }
            },
            getAttacked() {
                if(this.characterLife>0){
                    if(this.boss.speed >= 200){
                        this.characterLife = this.characterLife-Math.round((this.boss.attack - this.character.defense/3))
                        this.characterLifePercent = Math.round(100*this.characterLife/this.character.hp)
                    }
                    this.characterLife = this.characterLife-Math.round((this.boss.attack - this.character.defense/3))
                    this.characterLifePercent = Math.round(100*this.characterLife/this.character.hp)
                } else {
                    this.characterLife = 0
                    this.characterLifePercent= 0
                    
                }

            },
            win() {
                 axios.put(`http://localhost:8888/api/profile/${this.profile.id}/`,
                {
                    id:this.profile.id, 
                    cardShards:this.profile.cardShards +100,
                    userImage: this.profile.userImage,
                    user:this.profile.user,
                })
            }
       },
        watch: {
        character:function(){
            this.characterLife =  this.character.hp
        },
        boss:function(){
            this.bossLife =  this.boss.hp
        },


     },
     mounted: function () {
        this.$nextTick(function () {
            window.setInterval(() => {
                if(this.characterLife!=0 && this.bossLife!=0){
                    this.getAttacked();
                }
             
            },
            1500);
        })
    }

}
</script>
<style>

</style>