<template>
  <div id="app">
    <baseHeader/>
    <basePage  />
    <baseFooter />
  </div>
  
</template>

<script>

import axios from 'axios'
import './assets/tailwind.css'
import baseHeader from './components/base-header'
import baseFooter from './components/base-footer'
import basePage from './components/base-page'

export default {
  name: 'App',
  components: {
    baseFooter,
    baseHeader,
    basePage,
  },
  data() {
        return {
            userdata: '',
        }
    },
   beforeCreate() {
      
    this.$store.commit('initializeStore')

    const access = this.$store.state.access

    if ( access ) {
      axios.defaults.headers.common['Authorization'] = " JWT " + access
    } else {
      axios.defaults.headers.common['Authorization'] = ''
    }

    
   },
   mounted() {
    if(localStorage.getItem("access")){
     setInterval(() => {
       this.getAccess()
     }, 50000)
     
     this.getMe()

     }

   },
   methods:{
     getAccess(e){
       const accessData= {
         refresh: this.$store.state.refresh
       }
       axios
            .post('/api/jwt/refresh/', accessData)
            .then(response => {
              const access = response.data.access
              localStorage.setItem("access", access)
              this.$store.commit("setAccess", access)

            })
            .catch(error => {
              console.log(error)
            })
     },
       getMe(e){
            axios
                .get("/api/users/me")
                .then(response => {
                    //  console.log(response)
                    this.userdata = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        },
   }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

nav {
  padding: 30px;

.router-link-exact-active {
      font-weight: bold;
      color: #c2c2c2;
    }
  
}
</style>
