<template lang="html" >
  <div class="flip">
    <div class="flip-content">
      <div class="flip-front">
        <div class="bg-gray-300 border-4 border-blue-700 w-72 h-[400px]">
          <div class="relative z-10 bg-blue-500 text-4xl text-black font-mono text-center h-[50px] border-b-4 border-blue-700">
              {{character.game}}
          </div>
          <div class="relative z-5 bg-blue-300 h-[265px]">
            <div v-if="character.persona">
              <img v-if="character.personaImage" :src="require(`@/assets/${ getImgUrl(character.personaImage) }`)" class="absolute z-0 h-full">
              <img v-if="character.characterImage" :src="require(`@/assets/${ getImgUrl(character.characterImage) }`)" class="absolute z-0 h-full">
            </div>
            <div v-else>
              <img v-if="character.characterImage" :src="require(`@/assets/${ getImgUrl(character.characterImage) }`)" class="m-auto z-0 h-full">
            </div>
          </div>
          <div class="relative z-10 bg-blue-500 text-3xl text-black font-mono text-center h-[77px] border-t-4 border-blue-700">
            <p>
                {{character.name}}
            </p>
            <p class="mt-[-12px]">
                {{character.persona}}
            </p>
          </div>
        </div>
      </div>
      <div class="flip-back">
        <div class="bg-black  w-72 h-[400px]">
            <img :src="require(`@/assets/media/gatcha/card-back.png`)">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    props: [
        "character"
    ],
      methods: {
        getImgUrl(img){
            if(img){
                const url = img;   
                return url.toString().slice(22,100)
            }
            
        }
    }

}
</script>

<style lang="css" scoped>
.flip {
  width: 150px;
  height: 400px;   
  perspective: 800px;  
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}
.flip-front, .flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;  
}
.flip-back {
  transform: rotateY(180deg);
}
</style>