<template lang="html">
    <div class="container">
    <h2 class="font-mono text-black text-6xl">Characters</h2>
        <div class="row">
            <div class="col text-left">
                <div v-if="characters" class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
                    <div v-for="character in sortCharacters()" :key="sortCharacters().id" class="character pb-6">
                        <card :character="character"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import card from '@/components/Card/card'
export default {
    components: {
        card,
    },
    data() {
        return {
            characters: [],
        }
    },
    props: [
       "userdata"
    ],
    created(){
           axios.get('/api/character')
            .then(response=> {
                this.characters = response.data
            }).catch(e => {
                console.log(e);
            })
    },
      methods:{
        sortCharacters(){
            function compare( a, b ) {
                if ( a.game < b.game ){
                    return -1
                }
                if ( a.game > b.game ){
                    return 1
                }
                return 0
                }
            return this.characters.sort( compare )
        },
    },

}
</script>

<style lang="css" scoped>
table {
  border: 1px solid;
}
</style>