<template lang="html">
<div class="grid justify-items-center h-full w-full group">
       <div>
              <div v-if="this.$route.params.id==0">
                     <h2 class="font-mono text-black text-6xl">Better luck next time...</h2>
                     <img :src="require(`@/assets/media/gatcha/card-back.png`)" class="w-72 h-[400px] summon-animation m-auto mb-10">
                     <router-link to="/gatcha" class="bg-velvetroom-500 hover:bg-velvetroom-300 text-white font-bold py-2 px-4 rounded-md mr-5">
                     Summon again
                     </router-link>
                     <router-link to="/fight" class="bg-velvetroom-500 hover:bg-velvetroom-300 text-white font-bold py-2 px-4 rounded-md">
                     Obtain more Card Shards
                     </router-link>
              </div>
              <div v-else>
                     <h2 class="font-mono text-black text-6xl">New character obtained!</h2>
                     <card :character="character" class=" summon-animation m-auto mr-[50%] mb-10"/>
                     <router-link to="/usercharacters" class="bg-velvetroom-500 hover:bg-velvetroom-300 text-white font-bold py-2 px-4 rounded-md mr-5">
                     See my compendium
                     </router-link>
                     <router-link to="/fight" class="bg-velvetroom-500 hover:bg-velvetroom-300 text-white font-bold py-2 px-4 rounded-md">
                     Test it in a fight
                     </router-link>
              </div>
       </div>
</div>
</template>

<script>
import card from '@/components/Card/card'
export default {
       components: {
              card,
       },
       data() {
        return {
            character: [],
        }
    },
       name: 'Summon',
       created(){
              if(this.$route.params.id!=0){
              fetch(`http://localhost:8888/api/character/${this.$route.params.id}`)
                     .then(res=>res.json())
                     .then(data=>this.character = data)
                     .catch(err=> console.log(err.message))
              }
              
              
       }
}
</script>

<style lang="css" scoped>
.summon-animation {
       position: relative;
       animation-name: example;
       animation-duration: 4s;
}
@keyframes example {
       0%   {left:0px; top:-1000px;}
       100%  {left:0px; top:0px;}
}
</style>