<template>
    <div class="home">
        <h2 class="font-mono text-black text-3xl">Welcome to</h2>
        <h1 class="font-mono text-black text-6xl">Persona Souls Compendium</h1>
        <p class="font-mono text-lg">This website is the final project of Daniel Delgado Rodriguez,</p>
        <p class="font-mono text-lg">from Web Development at I.E.S. Politécnico Jesús Marín</p>
    </div>
</template>



<script>
import axios from 'axios'
export default {
     data() {
        return {
            userdata: [],
        }
    },
    created(){
            if(localStorage.getItem("access")){
          axios
                .get("/api/users/me")
                .then(response => {
                    this.userdata = response.data
                     axios.get(`/api/profile/${this.userdata.id}`)
                .catch(error => {
                    axios.post('http://localhost:8888/api/profile/', {id:this.userdata.id, user:this.userdata.id, cardShards:300})
                    location.reload(); 
                })
                })
                .catch(error => {
                    console.log(error)
                })
    }
    },

}
</script>