<template>
    <h1 class="font-mono text-black text-6xl">Login</h1>
    <div class="w-full max-w-xs m-auto">
        <form  @submit.prevent="checkForm" novalidate="true" class="bg-velvetroom-50 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block font-mono text-black text-sm font-bold mb-2" for="username">
                    Username:
                </label>
                <input class="shadow appearance-none border font-mono rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="username" v-model="username">
            </div>
            <div class="mb-6">
                <label class="block font-mono text-black text-sm font-bold mb-2" for="password">
                    Password:
                </label>
                <input class="shadow appearance-none border rounded w-full font-mono py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="********" name="password" v-model="password">
            </div>
            <p v-if="errors.length">
                <ul class="bg-red-200 text-red-700 rounded mb-4">
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Log In
            </button>
        </form>
    </div>
</template>


<script>
import axios from "axios"

export default {
    name: 'LogIn',
     data() {
        return {
            username: '',
            password: '',
            errors: [],
            
        }
    },
     methods: {
        submitForm(e){
            axios.defaults.headers.common['Authorization'] = ''
            localStorage.removeItem('access')

            const formData = {
                username: this.username,
                password: this.password
            }

            axios
                .post('/api/jwt/create/', formData)
                .then(response => {

                    const access = response.data.access

                    const refresh = response.data.refresh

                    this.$store.commit('setAccess', access)

                    this.$store.commit('setRefresh', refresh)

                    axios.defaults.headers.common['Authorization'] = " JWT " + access

                    localStorage.setItem("access", access)
                    localStorage.setItem("refresh", refresh)

                    this.$router.push("/")
                })
                .catch(error => {
                    this.errors.push("Invalid username/password")
                })
        },
        checkForm(e) {
            this.errors = [];

            if (!this.username) {
                this.errors.push("Username is required");
            }
             if (!this.password) {
                this.errors.push("Password is required");
            }
            if (!this.errors.length) {
                this.submitForm(e);
            }
        },
    },
    
}

</script>
