<template>
</template>
<script>
  export default{
     created(){
      this.$store.commit('setLogout');
      localStorage.setItem('access', '');
      localStorage.setItem('refresh', '')
      this.$router.push({name: 'LogIn'})
     }
  }
</script>
<style>
</style>