<template lang="html">
    <div class="notfound">
        <h1 class="font-mono text-black text-6xl">Page not found</h1>
        <img src="../assets/notfound.png" class="m-auto" alt="..." />
    </div>
</template>

<script>
export default {
        name: 'PageNotFound',
}
</script>

<style lang="css" scoped>
</style>