<template>
<h1 class="font-mono text-black text-6xl">Sign Up</h1>
<div class="w-full max-w-xs m-auto">
  <form  @submit.prevent="checkForm" class="bg-velvetroom-50 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <p v-if="successes.length">
      <ul class="bg-green-200 text-green-700 rounded mb-4">
        <li v-for="success in successes">{{ success }}</li>
      </ul>
    </p>
    <div class="mb-4">
      <label class="block font-mono text-black text-sm font-bold mb-2" for="username">
        Username:
      </label>
      <input class="shadow appearance-none border rounded w-full font-mono py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="username" v-model="username">
    </div>
    <div class="mb-6">
      <label class="block font-mono text-black text-sm font-bold mb-2" for="password">
        Password:
      </label>
    <input class="shadow appearance-none border rounded w-full font-mono py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="********" name="password" v-model="password">
    </div>
    <p v-if="errors.length">
      <ul class="bg-red-200 text-red-700 rounded mb-4">
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Sign In
      </button>
  </form>
</div>
</template>

<script>
import axios from "axios";

export default {
    name: 'SignUp',
    data() {
        return {
            username: '',
            password: '',
            errors: [],
            successes:[],
        }
    },
     props: [
       "userdata"
     ],
    methods: {
        submitForm(e){
            const formData = {
                username: this.username,
                password: this.password,
            }
            axios
                .post('/api/users/', formData)
                .then(response => {
                    this.successes.push(("Username created successfully"))
                    this.username = ''
                    this.password = ''
                })
                .catch(error => {
                    this.errors.push("Username already in use");
   
                })
        },
        checkForm(e) {
            this.errors = [];

            if (!this.username) {
                this.errors.push("Username is required");
            }
             if (!this.password) {
                this.errors.push("Password is required");
            }
            if (!this.errors.length) {
                this.submitForm(e);
            }
        },
    }
}

</script>
